<%= link_to @album ,data: {no_turbolink: true} do%>
		<div class="overflow-h">
		    <h3><%=@album.title%></h3> <%if @album.to_date%><span class="color-orange"><%=fa_icon('calendar')%></span> <%= @album.to_date%><br><%else%><br><%end%>
		</div>
	<%if @album.images.count > 0%>		            
	     <%= image_tag(album_image_path(@album,@album.images.sample()))%>
	<%else%>
		<div class="image-preview-container">            	
	    	<%= image_tag("img/linus2.jpg",class: "img-responsive")%>
    	</div>
	<% end %>
<%end%>