<%= title("Bildgalleri") %>
<div class="row">
    <div class="headline headline-md">
        <h1>Bildgalleri</h1>
    </div>
</div>
<div class="row">
    <div class="headline headline-md"><h3>Senast tillagda</h3></div>
        <% @albums_latest.each do |album| %> <!-- ändra till @albums_latest -->
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <%@album = album%>
                <%= render "album_preview"%>
            </div>
        <%end%>
    </div> <!-- row-->
</div>
<div class="controls center">
  <button class="filter active" data-filter="all">Alla</button>
  <% @categories.each do |kat|%>
      <% if kat.albums.count > 0 %>
          <button class="filter" data-filter=".<%=dom_id(kat)%>"><%=kat.title%></button>
      <% end %>
  <% end %>
</div>
</div>
<div class="row">
  <div id="container-gallery">
    <% @albums.each do |album|%>
        <div class="mix <%if album.categories.first%> <%= dom_id(album.categories.first) %>"><%else%>"><%end%>
            <% @album = album%>
            <%=render 'album_preview'%>
        </div>
    <%end%>
  </div>
</div>


  <% if @edit %>
	<div class="headline headline-md">
		<h2>Verktyg</h2>
	</div>
    <ul class="list">
        <li><%= link_to "Skapa album", :new_album %></li>
        <li><%= link_to "Inställningar för galleri", :settings_albums %></li>
    </ul>
  <% end %>
 


