<div class="row margin-bottom-20">
    <div class="headline headline-md"><h3><%=@album.title%></h3> <span class="pull-right"><%= link_to (content_tag(:i, nil, class: "fa fa-rocket") + " Tillbaka till Galleriet"),albums_path, class: "btn-u btn-u-small" %><%=render partial: "links"%></span></div>
</div>
<div class="row margin-bottom-20">
    <div class="col-md-10 col-md-offset-1 center" id="current">
      <%=render 'images/display'%>
    </div>
</div>
<div class="row">
    <div class="controls center">
            <button class="filter active" data-filter="all">Alla</button>
        <% @album.subcategories.each do |kat|%>
             <% if kat.images.count > 0 %>
                <button class="filter" data-filter=".<%=dom_id(kat)%>"><%=kat.text%></button>
             <% end %>
        <% end %>
    </div>
</div>
<div class="row">
    <div id="container-gallery">
        <% @images.each do |i|%>
            <div class="mix <%if i.subcategory%> <%= dom_id(i.subcategory) %>"><%else%>"><%end%>
                <%=link_to(display_album_image_path(@album,i),  remote: true) do%>
                    <%= image_tag(album_image_url(@album,i), class: "center", id: dom_id(i)) %>
                <%end%>
                <%=link_to("Bildspel",show_full_album_image_path(@album,i), rel: "group",class:"hidden fancybox")%>
            </div>
        <%end%>
    </div>
</div>